body {
	max-height: 1800px;
}

.central-block {
	width: 34%;
	margin-left: 33%;
	padding: 1%;
}

.central-block > div {
	text-align: center;
}

.photo {
	border-radius: 200px;
	width: 55%;
	height: 55%;
}

.weave {
	width: 45%;
}

p {
	padding: 0%;
	margin: 1%;
}

p.name {
	font-size: 35px;
	font-family: serif;
	margin: 3% 0;
}

p.occupation {
	font-size: 80%;
	margin: 3% 0;
	font-style: italic;
}

.top {
	margin-bottom: 5%;
}

div.about {
	text-align: left;
	margin: 5% 10%;
	font-family: sans-serif;
}

.big-letter {
	float: left;
	font-size: 40px;
	line-height: 38px;
}

.smile {
	width: 20px;
	height: auto;
	vertical-align: middle;
}

.qestion {
	font-weight: bold;
}

.lower {
	text-align: center;
	margin-top: 30px;
}

.second {
	width: 60%;
}

.contact {
	margin-top: 20px;
}

.short {
	width: 50%;
}

.icon {
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url("7.png");
	vertical-align: middle;
}

.icon-phone {
	background-position: -210px -402px;
}

.icon-mail {
	background-position: -115px -163px;
}

.icon-vk {
	background-position: -20px -20px;
	float: left;
	margin-right: 6px;
}

.icon-fb {
	background-position: -116px -20px;
}

.icon-skype {
	background-position: -163px -116px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: rgb(61, 61, 61);
	text-decoration: underline;
}